<style>
  .navbar {
    display: flex;
    flex-flow: row wrap;
    background-color: #F87060;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10%;
  }

  .navbar div{
    padding: 8px;
  }

  .navbar div a {
    text-decoration: none;
    color: #102542;
  }
  
  .navbar div a:hover {
    background-color: #102542;
    color: #FFFFFF;
  }
</style>

<div class="navbar">
  <div><a href='{{ site.baseurl }}/'>HOME</a></div>
  <div><a href='{{ site.baseurl }}/LINKS/'>LINKS</a></div>
  <div><a href='{{ site.baseurl }}/TXT/mylog.txt'>LOG</a></div>
  <div><a href='{{ site.urlgithub }}'>GitHub</a></div>
</div>
